.grid-container {
    display: grid;
    width: fit-content;
    grid-template-columns: 1.5rem 1fr 1.5rem;
    grid-auto-rows: auto;
    row-gap: 1.5rem;
    margin-top: 2rem;
    padding: 1rem 0rem 1rem 0rem;
    background-color: white;
}

.header-image-description {
    display: flex;
    gap: 1rem;
    justify-content: center;
}

header {
    grid-column: 2 / 3;
}

.user-image {
    width: 18rem;
    height: 16rem;
    justify-self: center;
    margin: auto;
    border-radius: 50%;
    border: 3pt solid grey;
}

.navigation-bar {
    grid-column: 2/ 3;
}

.nav {
    justify-content: center;
}

.nav-link {
    width: fit-content;
    height: 3rem;
    font-size: 1.5rem !important;
}

.header-wapp-contact {
    width: 1.5rem;
    height: 1rem;
}

.quick-description-header {
    font-size: 1.6rem;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.altered-size-drop-item {
    font-size: 1.1rem;
    font-weight: bold;
}

.user-description {
    display: flex;
    flex-direction: column;
    padding: 0.2rem 1rem 0.2rem 1rem;
    margin-left: 2rem;
    transition-duration: 2.1s;
    border-left: 5pt double rgb(122, 122, 122);
    border-top-right-radius: 20pt;
    border-bottom-right-radius: 20pt;
}

.user-description:hover {
    background-color: rgba(40, 252, 171, 0.76);
    border-left: 5pt double rgb(4, 247, 154);
    padding-right: 8.5rem;
    justify-content: center;
    flex-wrap: nowrap;

}

.brake-line {
    grid-column: 2 / 3;
    border-top: 7pt solid rgba(2, 248, 154, 0.664);
}

.drop-content {
    grid-column: 2 / 3;
    row-gap: 5rem;
}

.drop-content .modded-h1 {
    grid-column: 2 / 3;
}

.drop-content .indent-para {
    grid-column: 2 / 3;
    margin-top: 1rem;
}

.indent-para {
    text-align: justify;
    text-indent: 2rem;
}

footer {
    grid-column: 1 / 4;
}

.alert-info {
    grid-column: 2 / 3;
    width: fit-content;
}

.section-container {
    width: 95%;
    text-align: left;
    margin: auto;
    background-color: rgba(228, 227, 227, 0.658);
    border: 2pt solid rgba(151, 151, 151, 0.637);
    border-radius: 7pt;
    padding: 0.5rem;
}

.section-breakdown {
    margin: auto;
    background-color: rgba(253, 253, 253, 0.548);
    border: 2pt solid rgba(189, 188, 188, 0.637);
    border-radius: 3pt;
    padding: 1rem;
    margin-bottom: 0.3rem;
    box-shadow: 3pt 3pt 10pt rgba(110, 110, 110, 0.753);
}

.section-paragraph {
    font-size: 1.2rem;
}

.timeframe-breakdown {
    border-left: 4.5pt solid rgba(110, 110, 110, 0.384);
    border-bottom: 3pt solid rgba(110, 110, 110, 0.753);
    border-bottom-left-radius: 3pt;
    box-shadow: 3pt 3.5pt 5pt rgba(110, 110, 110, 0.753);
    padding-left: 0.5rem;
}

.margin-bottom-altered {
    margin-bottom: 2rem;
}

.it-skills {
    height: 21px !important;
}

.other-skills {
    height: 21px !important;
    margin-bottom: 1rem;
}

.back-test1 {
    background-color: rgb(167, 167, 1) !important;
}

.tile-progress {
    background-color: #303641;
    color: #fff;
    }
    .tile-progress {
    background: #00a65b;
    color: #fff;
    margin-bottom: 20px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -webkit-background-clip: padding-box;
    -moz-background-clip: padding;
    background-clip: padding-box;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    }
    .tile-progress .tile-header {
    padding: 15px 20px;
    padding-bottom: 40px;
    }
    .tile-progress .tile-progressbar {
    height: 2px;
    background: rgba(0,0,0,0.18);
    margin: 0;
    }
    .tile-progress .tile-progressbar span {
    background: #fff;
    }
    .tile-progress .tile-progressbar span {
    display: block;
    background: #fff;
    width: 0;
    height: 100%;
    -webkit-transition: all 1.5s cubic-bezier(0.230,1.000,0.320,1.000);
    -moz-transition: all 1.5s cubic-bezier(0.230,1.000,0.320,1.000);
    -o-transition: all 1.5s cubic-bezier(0.230,1.000,0.320,1.000);
    transition: all 1.5s cubic-bezier(0.230,1.000,0.320,1.000);
    }
    .tile-progress .tile-footer {
    padding: 20px;
    text-align: right;
    background: rgba(0,0,0,0.1);
    -webkit-border-radius: 0 0 3px 3px;
    -webkit-background-clip: padding-box;
    -moz-border-radius: 0 0 3px 3px;
    -moz-background-clip: padding;
    border-radius: 0 0 3px 3px;
    background-clip: padding-box;
    -webkit-border-radius: 0 0 3px 3px;
    -moz-border-radius: 0 0 3px 3px;
    border-radius: 0 0 3px 3px;
    }
    .tile-progress.tile-red {
    background-color: #f56954;
    color: #fff;
    }
    .tile-progress {
    background-color: #303641;
    color: #fff;
    }
    .tile-progress.tile-blue {
    background-color: #0073b7;
    color: #fff;
    }
    .tile-progress.tile-aqua {
    background-color: #00c0ef;
    color: #fff;
    }
    .tile-progress.tile-green {
    background-color: #00a65a;
    color: #fff;
    }
    .tile-progress.tile-cyan {
    background-color: #00b29e;
    color: #fff;
    }
    .tile-progress.tile-purple {
    background-color: #ba79cb;
    color: #fff;
    }
    .tile-progress.tile-pink {
    background-color: #ec3b83;
    color: #fff;
    }

    /* ? */

    