.grid-container {
    display: grid;
    width: fit-content;
    grid-template-columns: 1.5rem 1fr 1.5rem;
    grid-auto-rows: auto;
    row-gap: 1.5rem;
    margin-top: 2rem;
    padding: 1rem 0rem 1rem 0rem;
    background-color: white;
}

.header-image-description {
    display: flex;
    gap: 1rem;
    justify-content: center;
}

header {
    grid-column: 2 / 3;
}

.user-image {
    width: 18rem;
    height: 14rem;
    justify-self: center;
    margin: auto;
    border-radius: 50%;
    border: 3pt solid grey;
}

.navigation-bar {
    grid-column: 2/ 3;
}

.nav {
    justify-content: center;
}

.nav-link {
    width: fit-content;
    height: 3rem;
    font-size: 1.5rem !important;
}

.header-wapp-contact {
    width: 1.5rem;
    height: 1rem;
}

.quick-description-header {
    font-size: 1.6rem;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.altered-size-drop-item {
    font-size: 1.1rem;
    font-weight: bold;
}

.user-description {
    display: flex;
    flex-direction: column;
    padding: 0.2rem 1rem 0.2rem 1rem;
    margin-left: 2rem;
    transition-duration: 2.1s;
    border-left: 5pt double rgb(122, 122, 122);
    border-top-right-radius: 20pt;
    border-bottom-right-radius: 20pt;
}

.user-description:hover {
    background-color: rgba(40, 252, 171, 0.76);
    border-left: 5pt double rgb(4, 247, 154);
    padding-right: 8.5rem;
    justify-content: center;
    flex-wrap: nowrap;

}

.brake-line {
    grid-column: 2 / 3;
    border-top: 7pt solid rgba(2, 248, 154, 0.664);
    /* border-radius: 10%; */
}

.drop-content {
    grid-column: 2 / 3;
    row-gap: 5rem;
}

.drop-content .modded-h1 {
    grid-column: 2 / 3;
}

.drop-content .indent-para {
    grid-column: 2 / 3;
    margin-top: 1rem;
}

.indent-para {
    text-align: justify;
    text-indent: 2rem;
}

footer {
    grid-column: 1 / 4;
}

.alert-info {
    grid-column: 2 / 3;
    width: fit-content;
}

.section-container {
    width: 95%;
    text-align: left;
    margin: auto;
    background-color: rgba(228, 227, 227, 0.658);
    border: 2pt solid rgba(151, 151, 151, 0.637);
    border-radius: 7pt;
    padding: 0.5rem;
}

.section-breakdown {
    margin: auto;
    background-color: rgba(253, 253, 253, 0.548);
    border: 2pt solid rgba(189, 188, 188, 0.637);
    border-radius: 3pt;
    padding: 1rem;
    margin-bottom: 0.3rem;
    box-shadow: 3pt 3pt 10pt rgba(110, 110, 110, 0.753);
}

.section-paragraph {
    font-size: 1.2rem;
}

.timeframe-breakdown {
    border-left: 4.5pt solid rgba(110, 110, 110, 0.384);
    border-bottom: 3pt solid rgba(110, 110, 110, 0.753);
    border-bottom-left-radius: 3pt;
    box-shadow: 3pt 3.5pt 5pt rgba(110, 110, 110, 0.753);
    padding-left: 0.5rem;
}

.margin-bottom-altered {
    margin-bottom: 2rem;
}