
.grid-container {
    display: grid;
    width: fit-content;
    grid-template-columns: 1.5rem 1fr 1.5rem;
    grid-auto-rows: auto;
    row-gap: 1.5rem;
    margin-top: 2rem;
    padding: 1rem 0rem 1rem 0rem;
    background-color: white;
}

.header-image-description {
    display: flex;
    gap: 1rem;
    justify-content: center;
}

header {
    grid-column: 2 / 3;
}

.user-image {
    width: 18rem;
    height: 12rem;
    justify-self: center;
    margin: auto;
    border-radius: 50%;
    border: 3pt solid grey;
}

.navigation-bar {
    grid-column: 2/ 3;
}

.nav {
    justify-content: center;
} 

.nav-link {
    width: fit-content;
    height: 3rem;
    font-size: 1.5rem !important;
}

.header-wapp-contact {
    width: 1.5rem;
    height: 1rem;
}

.quick-description-header {
    font-size: 1.6rem;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.altered-size-drop-item {
    font-size: 1.1rem;
    font-weight: bold;
}

.user-description {
    display: flex;
    flex-direction: column;
    padding: 0.2rem 1rem 0.2rem 1rem;
    margin-left: 2rem;
    transition-duration: 2.1s;
    border-left: 5pt double rgb(122, 122, 122);
    border-top-right-radius: 20pt;
    border-bottom-right-radius: 20pt;
}

.user-description:hover {
    background-color: rgba(40, 252, 171, 0.76);
    border-left: 5pt double rgb(4, 247, 154);
    padding-right: 8.5rem;
    justify-content: center;
    flex-wrap: nowrap;

}

.brake-line {
    grid-column: 2 / 3;
    border-top: 7pt solid rgba(2, 248, 154, 0.664);
    border-radius: 10%;
}

.drop-content {
    grid-column: 2 / 3;
    row-gap: 5rem;
}

.drop-content .modded-h1 {
    grid-column: 2 / 3;
}

.drop-content .indent-para {
    grid-column: 2 / 3;
    margin-top: 1rem;
}

.indent-para {
    text-align: justify;
    text-indent: 2rem;
}

footer {
    grid-column: 1 / 4;
}

.alert-info {
    grid-column: 2 / 3 ;
    width: fit-content;
}

