nav {
    float:left;
    position: absolute;
    left: 3cm;
    top: 1.7cm;
}
ul {
    list-style-type:none ;
}
body {
    padding-left:2cm ;
    padding-right:2cm ;
    padding-top:1cm ;
    padding-bottom:1cm ;
}
ul {
    font-size:27pt ;
    line-height:39pt ;
}
article {
    position: absolute;
    left:13cm ;
    top:2.8cm ;
    border: 1pt;
    border-color: rgb(119, 111, 111);
    border-style:solid ;
    border-right:0cm ;
    border-top:0cm ;
    border-bottom:0cm ;
    padding-left: 1cm;
    padding-right: 19cm;
    font-size: 15pt;
}
img {
    border: 1.5pt;
    border-style: solid;
    border-color: gray;
    border-radius: 50pc;
    margin-left: 2cm;
}
h1 {
    font-size: 28pt;
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
}
table {
    width: 15cm;
    font-size: 15pt;
}
a {
    text-decoration: none;
    color: black;
}