.jumbotron {
    background: #358CCE;
    color: #FFF;
    border-radius: 0px;
}

.jumbotron-sm {
    padding-top: 24px;
    padding-bottom: 24px;
    margin-bottom: 2rem;
}

.jumbotron small {
    color: #FFF;
}

.h1 small {
    font-size: 24px;
}

.form-container {
    grid-column: 2 / 3;
}