@media only screen and (min-width: 768px) {
    .grid-container {
        display: grid;
        width: 100%;
        grid-template-columns: 20% 75% 5%;
        grid-auto-rows: auto;
        row-gap: 1.5rem;
        margin-top: 2rem;
        padding: 1rem 0rem 1rem 0rem;
        background-color: white;
    }

    .navigation-bar {
        grid-column: 1 / 2;
        grid-row: 2 / 4;
        width: 12.5rem;
        height: fit-content;
        margin: 0rem 2rem 0rem 0.5rem;
        /* border: 4.7pt solid cyan; */
        border-radius: 10pt;
        padding: 1.3rem;
    }

    .nav {
        justify-content: left;
    }

    .nav-link {
        width: 9rem;
        height: 3rem;
        font-size: 0.8rem !important;
        padding: 1rem 0.5rem 3rem 0.5rem !important;
        text-align: center;
    }

    .drop-content {
        padding-left: 1rem;
    }

    .home-btn {
        padding: 5rem;
    }
}